
<form>
    <div class="row">
        <div class="col-8 mt-4">
            <div class="text-center">
                <h1>TARİF EKLE</h1>
            </div>
            <ul style="list-style-type: ' ★ '">
                <li> 
                    <div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Tarifinizi Başlığını Giriniz.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <label for="exampleFormControlTextarea1" class="form-label">Tarifinizi Başlığını Giriniz.</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </li>
                <li>
                    <div>
                        <label for="formFileLg" class="form-label">Fotoğraf Seçiniz.</label>
                        <input class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                </li>
            </ul>
            <div class="row genelKutu">
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Kaç Kişilik?</h5>
                    <input type="number" id="tentacles" class="float-left" name="tentacles"
                           min="0" max="300">
                    <select id="cars" name="kacKisilikIsim">
                        <option value="volvo">Kişi</option>
                        <option value="saab">Adet</option>
                        <option value="fiat">Servis</option>
                    </select>
                   <hr />
                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Hazır Süresi</h5>
                    <input type="number" id="tentacles" class="float-left" name="tentacles"
                           min="0" max="300">
                    <select id="cars" name="kacKisilikIsim">
                        <option value="volvo">Dakika</option>
                        <option value="saab">Saat</option>
                    </select>
                    <hr  />
                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Pişirme Süresi</h5>
                    <input type="number" id="tentacles" class="float-left" name="tentacles"
                           min="0" max="300">
                    <select id="cars" name="kacKisilikIsim">
                        <option value="volvo">Dakika</option>
                        <option value="saab">Saat</option>
                    </select>
                    <hr />
                </div>
            </div>

            <div class="genelKutu">
                <div>
                     <img src="~/images/ingredients.png" class="float-start" />
                    <h4> -- Tarif İçin Gerekli Malzemeler virgül ile ayırınız.</h4>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="genelKutu">
                <img class="float-start" src="~/images/instructions.png" />
                <h4> -- Tarif Nasıl Yapılır?</h4>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>


            </div>
        </div>
         <div class="buTarifeKacKisiBakti text-center" style="margin-top:20%">
                <button class="btn btn-primary" type="submit">Gönder</button>
            </div>
            </div>
</form>
