@model BuzDolabiVI.Models.Tarif
<form asp-controller="Tarif" asp-action="Index">
    <div class="row">
        <div class="col-8 mt-4">
            <div class="text-center">
                <h1>TARİF EKLE</h1>
            </div>
            <ul style="list-style-type: ' ★ '">
                <li> 
                    <div>
                        <div class="mb-3">
                            <label asp-for="tarifAd" class="form-label">Tarifinizi Başlığını Giriniz.</label>
                            <input asp-for="tarifAd" class="form-control" rows="3"/>
                            <span asp-validation-for="tarifAd" class="text-danger"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <label asp-for="tarifGirisYazisi" class="form-label">Tarifinizi neden yapalım?</label>
                    <input asp-for="tarifGirisYazisi" class="form-control" rows="3"  />
                    <span asp-validation-for="tarifGirisYazisi" class="text-danger"></span>
                </li>
                <li>
                    <div>
                        <label asp-for="tarifFoto" class="form-label">Fotoğraf Ekleyiniz.</label>
                        <input asp-for="tarifFoto" class="form-control form-control-lg" id="formFileLg" type="file" />
                        <span asp-validation-for="tarifFoto" class="text-danger"></span>
                        <label for="formFileLg" class="form-label">Fotoğraf Seçiniz.</label>
                    </div>
                </li>
            </ul>
            <div class="row genelKutu">
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Kaç Kişilik?</h5>
                    <input asp-for="kacKisilik" class="float:left" min="0" max="300" id="tentacles" type="number" />
                    <span asp-validation-for="kacKisilik" class="text-danger"></span>

                    
                    <select id="cars">
                        <option >Kişi</option>
                        <option>Adet</option>
                        <option>Servis</option>
                    </select>
                   <hr />
                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Hazır Süresi</h5>
                    <input asp-for="hazirlanmaSuresi" class="float:left" min="0" max="300" id="tentacles" type="number" />
                    <span asp-validation-for="hazirlanmaSuresi" class="text-danger"></span>
                    <select id="cars">
                        <option>Dakika</option>
                        <option>Saat</option>
                    </select>
                    <hr  />
                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik mb-4">Pişirme Süresi</h5>
                    <input asp-for="pisirmeSuresi" class="float:left" min="0" max="300" id="tentacles" type="number" />
                    <span asp-validation-for="pisirmeSuresi" class="text-danger"></span>
                    <select id="cars">
                        <option>Dakika</option>
                        <option>Saat</option>
                    </select>
                    <hr />
                </div>
            </div>

            <div class="genelKutu">
                <div>
                     <img src="~/images/ingredients.png" class="float-start" />
                    <h4> -- Tarif İçin Gerekli Malzemeler virgül ile ayırınız.</h4>
                    <input asp-for="tarifMalzemeler" class="form-control" rows="3" />
                    <span asp-validation-for="tarifMalzemeler" class="text-danger"></span>
                </div>
            </div>
            <div class="genelKutu">
                <img class="float-start" src="~/images/instructions.png" />
                <h4> -- Tarif Nasıl Yapılır?</h4>
                <input asp-for="tarifNasilYapilir" class="form-control" rows="3" />
                <span asp-validation-for="tarifNasilYapilir" class="text-danger"></span>

            </div>
        </div>

         <div class="buTarifeKacKisiBakti text-center" style="margin-top:20%">
                <button class="btn btn-primary" type="submit">Gönder</button>
            </div>
      </div>
    <input asp-for="userID" class="float:left" min="0" max="300" id="tentacles" type="number" />

    <input asp-for="tarifTarih" class="float:left" min="0" max="300" id="tentacles" type="number" />
    <input asp-for="goruntulenme" class="float:left" min="0" max="300" id="tentacles" type="number" />

    <input asp-for="kacKalori" class="float:left" min="0" max="300" id="tentacles" type="number" />
                   
    <input asp-for="besinDegeriLink" class="float:left" min="0" max="300" id="tentacles" type="number" />
                   
    <input asp-for="yazarAd" class="float:left" min="0" max="300" id="tentacles" type="number" />
                   
    <input asp-for="yazarOzluSoz" class="float:left" min="0" max="300" id="tentacles" type="number" />
                   
    <input asp-for="yazarCinsiyet" class="float:left" min="0" max="300" id="tentacles" type="number" />
    <input asp-for="yazarSosyal" class="float:left" min="0" max="300" id="tentacles" type="number" />

    <input asp-for="tarifID" class="float:left" min="0" max="300" id="tentacles" type="number" />


</form>
