
<form>
    <div class="row">
        <div class="col-8 mt-4">
            <ul style="list-style-type: ' ★ '">
                <li>  <textarea class="form-input" required="" placeholder="TARİFİNİZİN ADINI BURAYA YAZINIZ."></textarea> </li>
                <li>  <textarea class="form-input" required="" placeholder="Tarifinizi hangi zamank"></textarea> </li>
                <li>  <textarea class="form-input" required="" placeholder="Your text"></textarea> </li>
            </ul>
            <p>
                Şekilli şukullu uzun açıklama gelecek.Şekilli şukullu uzun açıklama gelecek.Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
                Şekilli şukullu uzun açıklama gelecek.
            </p>
            <hr />
            <div class="bilgiKutusu">BU YEMEK ŞU KADAR KALORİ</div>
            <div class="bilgiKutusu">BU YEMEK BESİN DEĞERİ İÇİN TIKLAYINIZ</div>
            <div class="row genelKutu">
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik">Kaç Kişilik</h5>
                    <h3 class="tarifDetay3luCevap">veri tabanından</h3>

                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik">Hazırlama Süresi</h5>
                    <h3 class="tarifDetay3luCevap">veri tabanından</h3>
                </div>
                <div class="col-4 mt-2 text-center ">
                    <h5 class="tarifDetay3luBaslik">Kaç Kişilik</h5>
                    <h3 class="tarifDetay3luCevap">veri tabanından</h3>
                </div>
            </div>

            <div class="genelKutu">
                <div>
                    <img src="~/images/ingredients.png" class="float-start" />


                    <h4> -- 'Tarif ismi' Tarifi İçin Gerekli Malzemeler</h4>


                </div>
                <ul class="tarifMalzemeleri">
                    <li class="mt-5"> <h6 class="fw-bold float-start" style="margin-top:2px">1 Adet -></h6> <p class="ml-2" style="margin-top:1px;"> Zeytin</p></li>
                    <br />
                    <li> <h6 class="fw-bold float-start" style="margin-top:2px">1 Adet -></h6> <p class="ml-2" style="margin-top:1px;"> Zeytin</p></li>
                    <br />
                    <li> <h6 class="fw-bold float-start" style="margin-top:2px">1 Adet -></h6> <p class="ml-2" style="margin-top:1px;"> Zeytin</p></li>
                    <br />
                    <li> <h6 class="fw-bold float-start" style="margin-top:2px">1 Adet -></h6> <p class="ml-2" style="margin-top:1px;"> Zeytin</p></li>
                    <br />
                    <li> <h6 class="fw-bold float-start" style="margin-top:2px">1 Adet -></h6> <p class="ml-2" style="margin-top:1px;"> Zeytin</p></li>
                    <br />

                </ul>
            </div>
            <div class="genelKutu">
                <img class="float-start" src="~/images/instructions.png" />
                <h4> -- 'Tarif ismi' Tarifi Nasıl Yapılır?</h4>
                <div class="tarifAnlatimi mt-5">
                    1. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    1. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                    2. Şunu yapın. <br />
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="buTarifeKacKisiBakti text-center">
                <h5> Bu tarife kaç kişi baktı?</h5>
                <h2> 15 (Veri tabanından)</h2>
            </div>
            <hr />
            <div class="buTarifiYazanKisi text-center">
                <img src="~/images/ingredients.png" class="float-start ml-3" />
                <h2> AD SOYAD</h2>
                <h6> ÖZLÜ SÖZÜ </h6>
                Fotoğraf erkek yada kadın olarak tek bir tane olacak, herkeste.
                <hr />
                Buraya instagram adresi, twitter adresi iconları gelecek.

            </div>

        </div>









    </div>
</form>
<div class="genelKutu">
    <h2>
        AFİYET OLSUNN :))
    </h2>
</div>









<div class="be-comment-block genelKutu">
    <h1 class="comments-title">Bu Tarifteki yorumlar Id'sine göre buraya veri tabanından sayı gelecek"</h1>
    <div class="be-comment">
        <div class="be-img-comment">
            <a href="blog-detail-2.html">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
            </a>
        </div>
        <div class="be-comment-content">
            <span class="be-comment-name">
                <a href="blog-detail-2.html">"Kullanici İsmi"</a>
            </span>
            <a class="yorumunTarifBasligi">TARİF İSMİ' tarifine yorum yaptı.</a>
            <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                "buraya veri tabanından zaman gelecek"
            </span>

            <p class="be-comment-text">
                VERİ TABANINDAN YORUM İÇERİĞİ GELİYOO GELİYOO
                VERİ TABANINDAN YORUM İÇERİĞİ GELİYOO GELİYOO
                VERİ TABANINDAN YORUM İÇERİĞİ GELİYOO GELİYOO
                VERİ TABANINDAN YORUM İÇERİĞİ GELİYOO GELİYOO
                VERİ TABANINDAN YORUM İÇERİĞİ GELİYOO GELİYOO
            </p>
        </div>

        <div class="text-center"> <a href="#" class="btn button-primary"> Bu Buton giriş yapıldıysa görünmeyecek ve yorum yapma kısmı Görünecek.</a></div>


        <div>
            <div class="yorumYapBasligi text-center w-100"> <h2>YORUM YAP</h2></div>
            <form class="form-block mt-3">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" required="" placeholder="Your text"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-primary pull-right">submit</a>
                </div>
            </form>
        </div>
    </div>
</div>





<div class=""></div>