html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5%;
    background-color: #F9F8EA;
}

.cardUstBaslik {
    padding-top: 10px;
}

    .cardUstBaslik:hover {
        color: red;
    }

@media only screen and (min-width: 1260px) {
    /* styles for browsers larger than 960px; */
    .ustuneGelinceBuyusun:hover {
        height: 70%;
        width: 26%;
        margin-left: -1%;
        margin-right: -1%
    }
}

.sayfalarinBasligi {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 3% auto;
}

.imageHolder {
    position: relative;
    text-align: center;
    color: white;
}

.imageBaslik {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.tarifBanner {
    width: 100%;
    border-radius: 20px;
    height: 60%;
    width: 80%;
}

.golgelendir {
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
}

#yukari {
    z-index: 100;
    position: fixed;
    bottom: 10%;
    right: 10px;
    display: none;
    left: 90%;
}

.bilgiKutusu {
    width: 100%;
    height: auto;
    margin: 1% 0 1% 0;
    border-style: dashed;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: darkred;
    padding: 1%;
    text-align: center;
}

.buTarifeKacKisiBakti {
    width: 80%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 8px;
    height: auto;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.buTarifiYazanKisi {
    width: 80%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 8px;
    height: auto;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.genelKutu {
    width: 90%;
    padding: 5%;
    margin: 3% auto 0 auto;
    margin-top: 3%;
    border-radius: 8px;
    height: auto;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
