#LogoVeGiris {
    width: 100%;
    height: 60px;
    background-color: white;
}

#Logo {
    width: 5%;
    text-align: center;
    float: left;
    margin-left:7%;
}

#LogoYazisi {
    width: 10%;
    text-align: center;
    float: left; 
}

#LogoResim{
    margin-top:2%;
    margin-left:50px;
   /* margin-left:-100%;*/
  width:100px;
  height:100px;
  float:left;
}

#LogoYazi{
    margin-top:50px;
    width:100px;
}

#AramaCubugu {
    width: 30%;
    text-align: center;
    float: left;
    margin-left:15%;
    margin-top:auto;
    margin-bottom:auto;
    
}

#KullaniciKismi {
    width: 20%;
    text-align: center;
    float: right;
}

#NavIcerecek {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}



#DropDown:hover {
    color: black;
}

#DropDown {
    color: black;
}

#Container {
    width: 75%;
    margin: 0 12.5% 0 12.5%;
}

#Footer {
    padding-left: 9%;
    margin-top:10%;
}


.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}



.olursaIns{
}

.logoGelecek{
    width:5%;
    float:left;
    margin-left:10%;
    margin-top:-5px;
    height:100%;
}
.yaziGelecek{
    width:10%;
    float:left;
    height:100px;
    padding-top:25px;
}
.buyukHeader{
    padding-top:10px;
    height:80px;
    width:100%;
}
.arama {
    float: left;
    width: 5%;
    height: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.giris {
    width:28%;
    height: 10px;
    float: left;
    margin-top: 5px;
}
#navbar{
    height:20px;
    width:75%;
}
#LogoYaziKontrol{
    height: 45px;
    width:100%;
}
#LogoResiKontrol{
    height:70px;
    width:100%;
}
#Nav {
    height: 20px;
    margin-left:3%;
}
#tentacles{
    margin-top:20px;
    margin-right:3px;
    width:30%;
}
