<footer class="border-top footer text-muted mt-5"

        <div class="container">
            &copy; 2022 - BuzDolabiVI - <a asp-area="" asp-controller="Tarifler" asp-action="Privacy">Privacy</a>
        </div>
    </footer>