<div id="LogoVeGiris" class="">
    <div id="Logo"> 
        <img src="~/images/buzdolabi.png" id="LogoResim" width="40" height="40" alt="logo" />
    </div>
    <div id="LogoYazisi">
        <img src="~/images/logoYazi.png" id="LogoYazi" width="100" height="30" alt="logoYazisi" />
    </div>
   
    <div id="AramaCubugu">ARAMA CUuBUGU</div>
    <div id="KullaniciKismi">  <partial name="_LoginPartial" /></div>
</div>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid" id="Nav">
        <a class="navbar-brand" asp-area="" asp-controller="Tarifler" asp-action="Index">BuzDolabiVI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tarifler
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="AnaYemek" asp-action="Index">Yemek Tarifleri</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Corba" asp-action="Index">Çorba Tarifleri</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Tatli" asp-action="Index">Tatlı Tarifleri</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Icecek" asp-action="Index">İçecek Tarifleri</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tarifler" asp-action="Privacy">Privacy</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                         <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                         </li>
                    }
                }
               

            </ul>
        </div>
    </div>
</nav>